# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Env
.env

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Zig
.zig-cache/
zig-out/

Todo.txt
preview.html

# Generated user cards (only generated on CI for deployment, never tracked locally)
generated/*.svg
/*.svg